body { 
	background-color: lightgray;
}


.circle {
    z-index: 10;
    border-color: black;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: fixed;
    border-style: solid;
}
.cell { 
    border-radius: 8px;
    background-color: #4D4D4D;
    width: 35px;
}

.row { 
	height: 35px;
}

.table {
    margin: 0px auto;
    border-collapse: separate;
}

h1 { 
	text-align: center;
}

.well { 
	margin: 0px 20%;

}

