/*Table and children classes */
.cell { 
    border: 2px solid yellow;
    background-color: black;
}
.row {
    border: 2px solid yellow;
}
.table {
    border: 2px solid yellow;
    margin: 0px auto;
    align-content: center;
    width: initial;
}

h1 { 
	text-align: center;
}

.outer-container{
    background-image: url("mario.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.starter-template {
    min-height: auto;
    max-height: auto;
    padding: 200px 15px;
    text-align: center;
}
/* Tile classes */
